# dependencies
node_modules
.pnp
.pnp.js

# builds
dist
build
.out
.next
coverage

# env files
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# runtime
*.pid
*.seed
*.pid.lock

# OS/editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

# backend uploads (if you don't want them in git)
backend/uploads